/* import the police roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* import the police roboto */

/* ----------  */
/* ----------  */

/* Box sizing for everything */

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Box Sizing  for everything */

/* ----------  */
/* ----------  */

body {
  font-family: "Roboto";
  background: linear-gradient(
    90deg,
    rgba(22, 135, 144, 1) 0%,
    rgba(16, 35, 80, 1) 100%
  );
  color: lightgray;
}

/* Form center */

.formCenter {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

/* FOR THE BUTTONS */
.btn {
  background: none;
  border: none;
  outline: inherit;
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 100% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 3px;
  cursor: pointer;
  max-width: 150px;
}

.btn-1 {
  background-color: #126cdb;
  box-shadow: 0 25px 40px -20px #0b478f;
}

#specialbtn {
  cursor: auto;
  background-color: #0b478f;
  box-shadow: 0 25px 40px -20px #126cdb;
}

#specialLogout {
  background-color: #db4c3d;
  box-shadow: 0 25px 40px -20px #db4c3d;
}
/* FOR THE BUTTONS */

.chat-room-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.room-name {
  margin-top: 0;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border-radius: 7px 7px 0 0;
  overflow: scroll;
  max-height: 800px;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  height: 200px;
  max-height: 50%;
  font-size: 20px;
  padding: 8px 12px;
  resize: none;
}

.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
}

.my-message {
  background-color: rgb(0, 132, 255);
  margin-left: auto;
}

.received-message {
  background-color: #3f4042;
  margin-right: auto;
}

.send-message-button {
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: #31a24c;
  padding: 24px 12px;
  border: none;
}

.messages-container,
.new-message-input-field,
.send-message-button {
  border-color: #9a9a9a;
}
